* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.info-container {
  display: flex;

}

.item-wrapper {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  flex: 1;
}

.item-wrapper img{
  height: auto;
  width: 100%;
  display: flex;
  border: 1px solid black;
}

.item-wrapper p, strong{
  margin: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weather-container {
  display: flex;
  width: fit-content;
  align-self: flex-end;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 2px 2px #444444;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.weather-wrapper img{
  margin: 0px;
  align-self: center;
}

.weather-wrapper p{
  width: auto;
  justify-content: center;
}

.weather-wrapper strong{
  margin: 5px 0px 0px 0px;
}

.temp-wrapper {
  display: flex;
  justify-content: space-between;
}

.temp-wrapper p{
  margin: 0px 5px 5px 5px;
}

.detailed-weather-container {
  display: flex;
}

.detailed-weather-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 1;
  align-items: center;
} 

.restaurantsFeed {
  display: inline;
  width: 50%;
  border: color 1px solid;
}

.restaurantButtons {
  display: block;
  width:300px;;
  height: 40px;
  /* border: solid 1px black; */
  line-height: 4pt;
  margin-left:5px;
}

.restaurantButtons h4 {
  font-size: 14px;
  margin:5px;
}

.restaurantContainer {
  width: 100%;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
}

.restaurantWrapper {
  height: 250px;
  width: 18%;
  min-width: 150px;
  border: 1px solid black;
  margin: 10px; 
  font-size: 12px;
  margin-top: 5px;
}

.restaurantWrapper p {
  font-size: 10px;
  line-height: 5pt;
  margin-left:5px;
}

.restaurantWrapper img {
  margin-left:5px;
  /* height: auto;
  width: 100%;
  display: flex;
  border: 1px solid black; */
}
.restaurantButtons button {
  width: 75px;
  height: 15px;
  font-size: 9px;
  font-weight: bold;
  color:white;
  gap:5px;
  background-color: rgb(77, 77, 77);
  border:solid 1 px white;
  transition: background-color, color;
  margin:2px;
}

.restaurantButtons button:hover {
  color: rgb(77, 77, 77);
  background-color: white;
}

.news-btns {
  width: 75px;
  height: 15px;
  font-size: 9px;
  font-weight: bold;
  color:white;
  gap:5px;
  background-color: rgb(77, 77, 77);
  border:solid 1 px white;
  transition: background-color, color;
  margin:2px;
}

.news-btns:hover{
  color: rgb(77, 77, 77);
  background-color: white;
}

.banner {
  width: 100%;
}

.hero-container {
  background-image: url('https://www.developmentguild.com/assets/nyc-banner-night.jpg');  
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  align-items: center;   
  background-repeat: no-repeat;
  background-size: cover;
}

.search-input {
  width: 600px;
  height: 30px;
  margin-bottom: 10px;
}

.search-btn {
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
}

.search-wrapper h1{
  font-size: 2.5em;
  margin-bottom: 10px;
}

.search-wrapper {
  background: rgba(255, 255, 255, 0.2);
}
