* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}

.main-content {
  width: 100%;
  padding: 30px;
  
}

.news-container {
	margin: 50px 0px;
}

.item-wrapper {
  /* height: auto;
  width: auto; */
  display: flex;
  /* border: 1px solid black; */
  /* margin: 10px; */
  /* flex: 1; */
  box-shadow: 2px 2px #444444;

  height: 250px;
  width: 18%;
  min-width: 150px;
  border: 1px solid black;
  margin: 10px;
  font-size: 12px;
  margin-top: 5px;
  box-shadow: 2px 2px #444444;

}

.item-wrapper img{
  height: 150px;
  width: 100%;
  display: flex;
  border: 1px solid black;
}

.item-wrapper p, strong{
  margin: 0;
  font-size: 11px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weather-container {
  display: flex;
  width: fit-content;
  align-self: flex-end;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 2px 2px #444444;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.weather-wrapper img{
  margin: 0px;
  align-self: center;
}

.weather-wrapper p{
  width: auto;
  justify-content: center;
}

.weather-wrapper strong{
  margin: 5px 0px 0px 0px;
}

.temp-wrapper {
  display: flex;
  justify-content: space-between;
}

.temp-wrapper p{
  margin: 0px 5px 5px 5px;
}

.detailed-weather-container {
  display: flex;
}

.detailed-weather-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 1;
  align-items: center;
}

.banner {
  width: 100%;
}

.hero-container {
  background-image: url('https://www.developmentguild.com/assets/nyc-banner-night.jpg');
  /* background-size: auto; */
  display: flex;
  flex-direction: column;
  height: 120%;
  min-height: 400px;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-input {
  width: 80%;
  min-width:300px;
  height: 30px;
  margin-bottom: 10px;
}

.search-btn {
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
  font-size:13px;
  font-weight: bold;
}

.search-wrapper h1{
  font-size: 27px;
  margin-bottom: 10px;
}

.search-wrapper {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 15px;
  border-radius: 3px;
  width:24%;
  min-width:450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login-container {
  width: 600px;
}

.signup-login-form {
  padding: 20px 0px;
}

.card-img-container {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #dfdfdf;
}

.card-img {
	height: 100%;
}

#title {
  font-size: 27px;
}

.loginButton {
  align-self: flex-start;
}

#loginButton {
  margin:5px;
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
  font-size:13px;
  font-weight: bold;
  background-color: Transparent;
  transition: color, background-color;
  border-radius:5px; 
}

#loginButton:hover {
  color:white;
  background-color:gray;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* 
.activity-card {
  width: 18%;
  min-width: 150px;
} */
